body {
    background: linear-gradient(to bottom, rgb(71, 146, 71), rgb(74, 115, 175));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.membro {
    margin: 10px;
    background-color: rgba(219, 219, 219, 0.475);
    border: 3px solid;
    border-radius: 10px;
}

#memb {
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    display: block;
    width: 350px;
    text-align: center;
    gap: 20px;
}

#back {
    text-align: center;
    margin: 20px auto;
    display: block;
    border: 2px solid;
    border-radius: 10px;
    width: 350px;
}

#back_button {
    text-decoration: none;
    color: #000000;
    font: bold;
    font-size: 30px;
}

.foto_perfil {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: #000000 solid;
    margin: 5px;
}