body {
    margin: 0;
    background: #5bd661c8;
    color: #000000;
    font-family: monospace;
}

#content {
    padding: 40px;
}

.logo {
    margin: 0 auto;
    width: 40%;
    height: auto;
    display: block;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.search-bar input {
    width: 60%;
    max-width: 500px;
    padding: 12px 15px;
    font-size: 1rem;
    border: 2px solid #840000;
    border-right: none;
    outline: none;
    background: #bababa;
    color: #140000;
    font-family: monospace;
    border-radius: 8px 0 0 8px;
}

.search-bar button {
    padding: 9px 20px;
    font-size: 1.1rem;
    border: 2px solid #840000;
    background: #969696;
    color: #140000;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
}

#overlay {
    position: fixed;
    inset: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: #ff0000;
    font-size: 2rem;
}

.flash {
    animation: flicker 0.15s infinite;
}

@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.2; }
    100% { opacity: 1; }
}